<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer's Guidebook - Create Guide</title>
</head>
<body>

<h1>Create a new Guide!</h1>

<p th:text="${error}"></p>
<p th:text="${error1}"></p>

<form action="#" th:action="@{/createguide}" th:object="${guide}" method="post">

    <label for="title">Guide title</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Title of the Guide">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

    <br>

    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" size="100" placeholder="Write a description for your guide.">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

    <br>

    <input type="submit" value="Create">
</form>
</body>
</html>
