<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet">
    <title>Adventurer's Guidebook - Create Guide</title>
</head>
<body>
    <div th:replace="menubar :: menubar"></div>
    <div class="page-wrap">
        <h1>Create a new Adventure Guide!</h1>

        <p th:text="${error}"></p>
        <p th:text="${error1}"></p>

        <form action="#" th:action="@{/createguide}" th:object="${guide}" method="post">

            <label for="title">Guide title</label>
            <input type="text" th:field="*{title}" id="title" placeholder="Title of the Guide">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

            <br>

            <label for="description">Description</label>
            <input type="text" th:field="*{description}" id="description" size="100" placeholder="Write a description for your guide.">
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

            <br>

            <label for="childFriendly">Child Friendly</label>
            <input type="radio" th:field="*{childFriendly}" id="childFriendly" value="True">Yes
            <input type="radio" th:field="*{childFriendly}" id="childFriendly" value="false">No
            <span th:if="${#fields.hasErrors('childFriendly')}" th:errors="*{childFriendly}"></span>

            <br>

            <label for="wheelchairAccessible">Wheelchair Accessible</label>
            <input type="radio" th:field="*{wheelchairAccessible}" id="wheelchairAccessible" value="True">Yes
            <input type="radio" th:field="*{wheelchairAccessible}" id="wheelchairAccessible" value="false">No
            <span th:if="${#fields.hasErrors('wheelchairAccessible')}" th:errors="*{wheelchairAccessible}"></span>

            <br>

            <label for="difficulty">Difficulty</label>
            <input type="radio" th:field="*{difficulty}" id="difficulty" value="1">1
            <input type="radio" th:field="*{difficulty}" id="difficulty" value="2">2
            <input type="radio" th:field="*{difficulty}" id="difficulty" value="3">3
            <input type="radio" th:field="*{difficulty}" id="difficulty" value="4">4
            <input type="radio" th:field="*{difficulty}" id="difficulty" value="5">5
            <span th:if="${#fields.hasErrors('difficulty')}" th:errors="*{difficulty}"></span>

            <br>

            <label for="directions">Directions</label>
            <input type="text" th:field="*{directions}" id="directions" size="100" placeholder="How to get to your guide">
            <span th:if="${#fields.hasErrors('directions')}" th:errors="*{directions}"></span>

            <br>

            <label for="country">Country</label>
            <input type="text" th:field="*{country}" id="country" value="Iceland">
            <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>

            <br>

            <label for="templates">Guide Template</label>
            <input type="radio" th:field="*{templates}" id="templates" value="NATURE">Nature
            <input type="radio" th:field="*{templates}" id="templates" value="CITY">City
            <span th:if="${#fields.hasErrors('templates')}" th:errors="*{templates}"></span>

            <br>

            <input type="submit" value="Create">
        </form>
    </div>
</body>
</html>
