<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Adventurer's Guidebook - Create review</title>
</head>
<div th:replace="menubar :: menubar"></div>

<body>
    <div class="container" th:object="${review}">

        <div th:replace="menubar :: advert2"></div>

        <h3 class="h3 mb-3 font-weight-normal">Create a new Review for [[${guide.title}]]!</h3>

        <p style="color:red;" th:text="${error}"></p>

        <form th:action="@{'/createreview/'+${guide.id}}" th:object="${review}" method="post">

            <dl class="row">

                <dt class="col-sm-3">
                    <label for="title">Review Title</label>
                </dt>
                <dd class="col-sm-9">
                    <input type="text" th:field="*{title}" id="title" placeholder="Title of your review">
                    <span style="color:red;" class="col-md-auto" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </dd>

                <dt class="col-sm-3">
                    <label for="description">Description</label>
                </dt>
                <dd class="col-sm-9">
                    <textarea style="min-width: 100%" rows="3" th:field="*{description}" id="description" placeholder="Write a description for your review."></textarea>
                    <span style="color:red;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </dd>

                <dt class="col-sm-3">
                    <label for="rating">Rating</label>
                </dt>
                <dd class="col-sm-9">
                    <input type="radio" th:field="*{rating}" id="rating" value=1>1
                    <input type="radio" th:field="*{rating}" id="rating" value=2>2
                    <input type="radio" th:field="*{rating}" id="rating" value=3>3
                    <input type="radio" th:field="*{rating}" id="rating" value=4>4
                    <input type="radio" th:field="*{rating}" id="rating" value=5>5
                    <span style="color:red;" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>
                </dd>

            </dl>

            <button class="btn btn-lg btn-primary btn-lg" type="submit">Post your Review</button>

        </form>
    </div>
</body>
</html>