<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Single Guide View</title>
</head>
<nav th:replace="menubar :: menubar"></nav>
<body>

    <div class="container" th:object="${guide}">

        <dl class="row">
            <dt class="col-sm-3">Adventure Title</dt>
            <dd class="col-sm-9" th:text="*{title}"></dd>

            <dt class="col-sm-3">Description</dt>
            <dd class="col-sm-9" th:text="*{description}"></dd>

            <dt class="col-sm-3">Child Friendly</dt>
            <dd class="col-sm-9" th:text="*{childFriendly} ? 'Yes' : 'No'"></dd>

            <dt class="col-sm-3">Wheelchair Accessible</dt>
            <dd class="col-sm-9" th:text="*{wheelchairAccessible} ? 'Yes' : 'No'"></dd>

            <dt class="col-sm-3">Difficulty</dt>
            <dd class="col-sm-9" th:text="*{difficulty} + ' out of 5'"></dd>

            <dt class="col-sm-3">Directions</dt>
            <dd class="col-sm-9" th:text="*{directions}"></dd>

            <dt class="col-sm-3">Country</dt>
            <dd class="col-sm-9" th:text="*{country}"></dd>

            <dt class="col-sm-3">State</dt>
            <dd class="col-sm-9" th:text="*{state}"></dd>

            <dt class="col-sm-3">City</dt>
            <dd class="col-sm-9" th:text="*{city}"></dd>

            <dt class="col-sm-3">Type of adventure</dt>
            <dd class="col-sm-9" th:text="*{templates[0]}"></dd>

        </dl>

        <div class="row"><!-- Review -->

        </div>
        <p><a th:href="@{/backToLastSearch}">Back to last search results</a></p>
    </div>


</body>
</html>