<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Adventure's Guidebook - Guides</title>
</head>
<nav th:replace="menubar :: menubar"></nav>
<nav th:replace="menubar :: menubar2"></nav>


<!--DISPLAYS ALL GUIDES. FOR DEVELOPMENT ONLY -->
<body>
    <div class="container">
        <div th:switch="${guides}">
            <h3 class="h3 mb-3 font-weight-normal" th:case="null">No guides yet!</h3>
            <div th:case="*">
                <h3 class="h3 mb-3 font-weight-normal">List of Guides</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Country</th>
                        <th scope="col">Type</th>
                        <th scope="col">Rating</th>
                        <th scope="col">More info</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="guide : ${guides}">
                        <th scope="row"></th>
                        <td th:text="${guide.title}"></td>
                        <td th:text="${guide.country}"></td>
                        <td th:text="${guide.templates[0]}"></td>
                        <td th:text="${guide.ratingAvg}"></td>
                        <td><a class="btn btn-primary" role="button" th:href="@{/guide/{id} (id=${guide.id})}">View more info</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a class="btn btn-primary" th:href="@{/createguide}">Create a new guide</a></p>
        </div>
    </div>
</body>
</html>
