<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>

<ul class="menu-bar">
    <li class="menu-item"><a th:href="@{/}">Home</a></li>
    <li class="menu-item"><a th:href="@{/signup}">Sign Up</a></li>
    <li class="menu-item"><a th:href="@{/signin}">Sign In</a></li>
    <li class="menu-item"><a th:href="@{/profile}">Profile</a></li>
    <li class="menu-item"><a th:href="@{/createguide}">Create Guide</a></li>
</ul>

<h2>No Guides yet!</h2>

</body>
</html>