<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet">
    <title>Adventure's Guidebook</title>
</head>
<body>

    <div th:replace="menubar :: menubar"></div>

    <div class="container">
        <div th:each="chosenGuide: ${chosenGuide}">
            <h1 th:text = "${guide.title}"></h1>
            <label>Template: </label>
            <p th:text = ${guide.templates}"></p>
            <label>Description: </label>
            <p th:text ="${guide.description}"></p>
            <label>Child Friendly: </label>
            <th:block th:switch="${guide.childFriendly}">
            <p th:case="0">No</p>
            <p th:case="1">Yes</p>
            </th:block>
            <label>Wheelchair Accessible: </label>
            <th:block th:switch="${guide.wheelchairAccessible}">
                <p th:case="0">No</p>
                <p th:case="1">Yes</p>
            </th:block>
            <label>Difficulty: </label>
            <p th:text="${guide.difficulty}"></p>
            <label>Country: </label>
            <p th:text="${guide.country}"></p>
            <label>State: </label>
            <p th:text="${guide.state}"></p>
            <label>City: </label>
            <p th:text="${guide.city}"></p>
            <label>Directions: </label>
            <p th:text="${guide.directions}"></p>

            <div class="container__button">
                <a href="/backSearchResults" role="button">Back to search results</a>
            </div>
        </div>
    </div>

</body>
</html>
