<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" th:fragment="menubar">
    <a class="navbar-brand" th:href="@{/}">Adventurer's Guidebook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a> --> <!-- Getum bætt við class="active" kannski á þá síðu sem er active -->
            <a class="nav-item nav-link" th:href="@{/signup}">Sign Up</a>
            <a class="nav-item nav-link" th:href="@{/signin}">Sign In</a>
            <a class="nav-item nav-link" th:href="@{/profile}">Profile</a>
            <a class="nav-item nav-link" th:href="@{/createguide}">Create Guide</a>
            <a class="nav-item nav-link" th:href="@{/guides}">List of Guides</a>
            <a class="nav-item nav-link" th:href="@{/adventurers}">List of Adventurers</a>
            <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> --> <!-- Getum bætt við class="disabled" kannski á þær síður sem eru ekki aðgengilegar. -->
            <form class="form-inline" th:action="@{/signout}" method="post">
                <input class="btn nav-item nav-link" type="submit" value="Sign Out">
            </form>
            <form class="form-inline" th:action="@{/betasignin}" method="post">
                <button class="btn nav-item nav-link" type="submit">BETA Sign In</button>
            </form>
            <a class="nav-item nav-link" th:href="@{/createreview}">Dev Review</a>
            <a class="nav-item nav-link" th:href="@{/reviews}">Dev View Reviews</a>
        </div>
    </div>
</nav>

<body>
<!--
<div class="test" th:fragment="menubar">

    <ul class="menu-bar" >
        <li class="menu-item"><a th:href="@{/home}">Home</a></li>
        <li class="menu-item"><a th:href="@{/signup}">Sign Up</a></li>
        <li class="menu-item"><a th:href="@{/signin}">Sign In</a></li>
        <li class="menu-item"><a th:href="@{/profile}">Profile</a></li>
        <li class="menu-item"><a th:href="@{/createguide}">Create Guide</a></li>
        <li class="menu-item"><a th:href="@{/guides}">List of Guides</a></li>
        <li class="menu-item"><a th:href="@{/adventurers}">List of Adventurers</a></li>
        <li class="menu-item">
            <form class="menu-item" action="#" th:action="@{/signout}" method="post">
                <input type="submit" value="Sign Out">
            </form>
        </li>
        <li class="menu-item">
            <form class="menu-item" action="#" th:action="@{/betasignin}" method="post">
                <input type="submit" value="BETA Sign In">
            </form>
        </li>
    </ul>
</div>
-->

</body>
</html>