<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles.css}" rel="stylesheet">
    <title>Adventure's Guidebook - Profile</title>
</head>
<body>
    <div th:replace="menubar :: menubar"></div>
    <div class="page-wrap">
        <h1>Adventurer's Profile</h1>

            <div th:object="${adventurer}" >
                <h2>Adventurer details</h2>

                <dl>
                    <dt>Display Name</dt>
                    <dd th:text="${adventurer.displayName}"></dd>

                    <dt>Email</dt>
                    <dd th:text="${adventurer.email}"></dd>

                    <dt>Name</dt>
                    <dd th:text="${adventurer.name}"></dd>

                    <dt>Date of Birth</dt>
                    <dd th:text="${#dates.format(adventurer.dateOfBirth, 'dd-MMM-yyyy')}"></dd>

                    <dt>Biography</dt>
                    <dd th:text="${adventurer.biography}"></dd>

                    <dt>Country</dt>
                    <dd th:text="${adventurer.country}"></dd>

                    <dt>State</dt>
                    <dd th:text="${adventurer.state}"></dd>

                    <dt>City</dt>
                    <dd th:text="${adventurer.city}"></dd>


                    <!-- Not wise to display
                    <dt>PasswordHashed</dt>
                    <dd th:text="${adventurer.passwordHashed}"></dd>
                    -->

                    <dt>Registration Date</dt>
                    <dd th:text="${#dates.format(adventurer.dateCreated, 'dd-MMM-yyyy')}"></dd>


                    <!-- TODO: add more tags
                    <dt></dt>
                    <dd th:text="${adventurer.}"></dd>
                    -->
                </dl>
            </div>

        <form action="#" th:action="@{/editprofile}" method="get">
            <input type="submit" value="Edit Profile">
        </form>

        <form action="#" th:action="@{/signout}" method="post">
            <input type="submit" value="Sign Out">
        </form>
    </div>
</body>
</html>